doctype html
html(lang='en')
  head
    title Little Scrum
    include includes/head.jade
    script(type=text/javascript')
      $(function () {
        var chart;
        $(document).ready(function() {
          // Build the chart
          chart = new Highcharts.Chart({
          chart: {
              renderTo: 'totalopenchart',
              plotBackgroundColor: null,
              plotBorderWidth: null,
              plotShadow: false
          },
          title: {
              text: 'Open/Total ratio'
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                      enabled: true,
                      color: '#000000',
                      connectorColor: '#000000',
                      formatter: function() {
                          return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
                      }
                  }
              }
          },
          series: [{
              type: 'pie',
              name: 'Ratio',
              data: [
                  ['Open',   45.0],
                  ['Closed', 55.0]
              ]
          }]
          });
        });
      });
  body
    include includes/nav.jade
    .container
      section#content
        h1 Dashboard
        .row
          .span5
            div#totalopen
              if locals.open > 0
                span.red #{locals.open}
              else
                span.green #{locals.open}
              #totalopenlabel Total open points
          .span5
            div#totalopenchart
        .row  
          table.table
            th INC
            th Points
            th Description
            th Assignee
            th
            tbody
              for item in locals.openStories
                tr
                  td #{item.req}
                  td #{item.points}
                  td #{item.desc}
                  td #{item.assignee}
                  td
                    form(action='/close/#{item.id}', method='POST')
                      input(type='hidden', name='id', value='#{item.id})
                      button.btn.btn-danger.small(type='submit', name='submit') Close
            </form>
      include includes/footer.jade

    include includes/bootstrap_jquery.jade