doctype html
html(lang='en')
  head
    title Little Scrum
    include includes/head.jade
  body
    include includes/nav.jade
    .container
      section#content
        h1 Dashboard
        .row
          .span5
            div#totalopen
              if locals.open > 0
                span.red #{locals.open}
              else
                span.green #{locals.open}
              #totalopenlabel Total open points
          .span5
            div#totalopenchart
              span sometext
        .row  
          table.table
            th INC
            th Points
            th Description
            th Assignee
            th
            tbody
              for item in locals.openStories
                tr
                  td #{item.req}
                  td #{item.points}
                  td #{item.desc}
                  td #{item.assignee}
                  td
                    form(action='/close/#{item.id}', method='POST')
                      input(type='hidden', name='id', value='#{item.id})
                      button.btn.btn-danger.small(type='submit', name='submit') Close
            </form>
      include includes/footer.jade

    include includes/bootstrap_jquery.jade
